<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Аукцион окончен</h1>
<p>
  <%= link_to 'Аукцион', auction_url(@auction.id)%> окончен, и доступны результаты.<br>
</p>
<p>Наиболее полная информация доступна на сайте. Ниже представлены лучшие ставки.</p>
<table>
  <thead>
  <th>
    Описание
  </th>

  <th>
    Цена
  </th>

  <th>
    Контакты участника
  </th>
  <% if @auction.owner.present? %>
      <th>
        Профиль участника
      </th>
  <% end %>
  </thead>
  <tbody>
  <% bids = @auction.bids.active.includes(:user)%>
  <% bids = bids.limit(3) if @auction.owner.nil?%>
  <% bids.each do |bid| %>
      <tr>
        <td>
          <%= bid.description %>
        </td>
        <td>
          <%= bid.price %> руб.
        </td>
        <td>
          <%= bid.user.email %> <%= bid.user.try(:user_info).try(:phone_number) %>
        </td>
        <% if @auction.owner.present? %>
            <td>
              <%= link_to 'Участника', user_info_url(bid.user.user_info_id) %>
            </td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>

<%= render partial: 'shared/mail_footer' %>
</body>
</html>