.row.align-text-center-block
  %h2
    Полезная информация
  - @articles.each do |article|
    .col-sm-4.align-text-center-block.articles-modal-trigger
      %button{type: "button", class: "btn btn-info btn-lg", 'data-toggle'=>"modal", 'data-target' => "##{article.mechanism_category.slug}"}
        = image_tag("info-icons/#{article.mechanism_category.slug}.png", size: "128x128", alt: "#{article.mechanism_category.description}")
      %h3
        = article.mechanism_category.description
    .modal.fade{id: "#{article.mechanism_category.slug}", role: "dialog"}
      .modal-dialog
        .modal-content
          .modal-header
            %button.close{type: "button", 'data-dismiss'=>"modal"}
              x
          .modal-body
            = raw article.article_text
            %br
            %a.btn.btn-default.btn-custom{href: "/arenda/#{MechanismCategory.first.slug}",role: "button"}
              Арендовать
          .modal-footer
            %button{type: "button", class: "btn btn-default", 'data-dismiss' => "modal"}
              Закрыть
