= bootstrap_form_for(@user_info) do |f|
  = f.text_field :first_name, label: 'Имя'
  = f.text_field :last_name, label: 'Фамилия'
  = f.text_field :unp, label: 'УНП'
  = f.phone_field :phone_number, label: 'Телефон'
  = f.collection_select :city_id, City.all, :id, :name, prompt: true, label: 'Город'
  .form-group
    %label.control_label
      Получать письма
    = f.check_box :send_email, label: 'Получать письма о новых аукционах, в которых Вы можете принять участие.'
  = f.submit "Сохранить", {class: 'btn btn-default btn-custom '}