.row.well
  .col-sm-4
  .col-sm-4
    %dl.dl-horizontal
      %dt
        Имя
      %dd
        = @user_info.first_name
      %dt
        Фамилия
      %dd
        = @user_info.last_name
      %dt
        Телефон
      %dd
        = @user_info.phone_number
      %dt
        Почта
      %dd
        = @user_info.user.email
      %dt
        Город
      %dd
        = @user_info.city.try(:name)
      %dt
        Организация
      %dd
        = @user_info.organization_name
    = link_to 'Назад', redirect_back(fallback_location: root_path)
  .col-sm-4