= bootstrap_form_for(@auction) do |f|
  /= f.datetime_select :start_time, label: 'Время начала'
  %h3
  = f.datetime_select :end_time, label: 'Дата окончания аукциона', default: 1.days.from_now, discard_minute: true, help: 'Аукцион окончится в полдень указанного дня.', discard_hour: true, prompt: {hour: 'Час' }, start_year: Date.today.year, disabled: @forbid_data_edit, datetime_separator: ''
  = f.text_area :description, {label: 'Описание', help: 'Обязательное поле.'}
  = f.collection_select :mechanism_category_id, MechanismCategory.all, :id, :description, {selected: @auction_category_id, label: 'Категория', help: 'Обязательное поле.', id: 'auction_category_id'}, disabled: @block_categories
  - if @block_categories
    = f.hidden_field_tag(:mechanism_category_id, @auction_category_id)
  = f.collection_select :auction_subcategories, MechanismSubcategory.where(mechanism_category_id: @auction_category_id), :id, :description, {selected: @auction_sub_categories, label: 'Подкатегории', help: 'Оставьте поле пустым, чтобы аукцион увидели владельцы любой техники выбранной категории.', id: 'auction_subcategory_id', include_blank: false}, {multiple: true}
  = f.submit "Сохранить"

= javascript_include_tag('categories_selector')