= bootstrap_form_for(@auction) do |f|
  = f.select :end_time, options_for_select(Auction.durations.map { |obj| [obj[:text], obj[:id]] }, @duration_id), {label: 'Длительность аукциона'}
  = f.text_area :description, {label: 'Описание', help: 'Обязательное поле.'}
  = f.collection_select :mechanism_category_id, [@auction_category], :id, :description, {selected: @auction_category.id, label: 'Категория'}, disabled: true
  = f.hidden_field_tag(:mechanism_category_id, @auction_category.id)
  = f.collection_select :auction_subcategories, @auction_sub_categories, :id, :description, {selected: @auction_sub_categories_ids, label: 'Подкатегории', help: 'Оставьте поле пустым, чтобы аукцион увидели владельцы любой техники выбранной категории.', id: 'auction_subcategory_id', include_blank: false}, {multiple: true}
  = f.submit "Сохранить", {class: 'btn btn-default btn-custom '}

= javascript_include_tag('categories_selector')