- if @auctions.any?
  .row
    .col-sm-12
      %table.table.table-striped
        %thead
          %th
            Описание
          %th
            Категория
          %th
            Время окончания
          %th
          %th
        %tbody
          - @auctions.each do |auction|
            %tr
              %td
                = auction.description.truncate(100, omission: '...')
              %td
                = auction.mechanism_category.description
              %td
                = minsk_time(auction.end_time).strftime("%d/%m/%Y %R")
              %td
                %a.btn.btn-default.btn-custom{href: auction_path(auction.id),role: "button"}
                  Детали
- else
  = render 'shared/no_data'
.row
  .col-sm-8
    %a.btn.btn-default.btn-custom{href: '/arenda/avtovyshka',role: "button"}
      Создать новый
  .col-sm-4
    = will_paginate(@auctions)