.row
  .col-sm-12
    %table.table.table-striped
      %thead
        %th
          Описание
        %th
          Подкатегория
        %th
          Категория
        %th
          Время начала
        %th
          Время окнчания
        %th
        %th
      %tbody
        -@auctions.each do |auction|
          %tr
            %td
              = auction.description
            %td
              = auction.mechanism_subcategory.description if auction.mechanism_subcategory
            %td
              = auction.mechanism_category.description
            %td
              = auction.start_time
            %td
              = auction.end_time
            %td
              %a.btn.btn-default{href: edit_auction_path(auction.id),role: "button"}
                Редактировать
            %td
              %a.btn.btn-default{href: auction_path(auction.id),role: "button"}
                Детали
