%dl.dl-horizontal
  %dt
    Описание
  %dd
    = @opportunity.description
  %dt
    Категория
  %dd
    = @opportunity.mechanism_category.description
  %dt
    Подкатегория
  %dd
    = @opportunity.mechanism_subcategories.pluck(:description).join(', ') if @opportunity.mechanism_subcategories.any?
  %dt
    Доставка
  %dd
    = @auction.delivery_included? ? 'Включена в цену' : 'Не включена в цену'
  %dt
    Оплата наличными
  %dd
    = @auction.cash_payed? ? 'Да' : 'Нет'
  - unless @auction.cash_payed?
    %dt
      Ставки включают НДС
    %dd
      = @auction.with_tax? ? 'Да' : 'Нет'
  %dt
    Другие участники
  %dd
    = @current_bid.present? ? @total_bids - 1 : @total_bids
  %dt
    Моя ставка
  %dd
    = @current_bid.present? ? @current_bid.price : '-'
%a.btn.btn-default.btn-custom{href: new_bid_path({auction_id: @opportunity.id}),role: "button"}
  Сделать ставку
