#context_words{style: 'display: none'}
  - City.all.each do |city|
    %p
      = "аренда техники #{city.name}"
    %p
      = "аренда строительной техники #{city.name}"
    - MechanismCategory.all.each do |category|
      %p
        =  "аренда #{ category.description } #{city.name}"
        =  "аренда #{ category.description } в #{city.name}"