%html
  %head
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

    %title
      Vanya`s app

  %body.body-style
    = render 'shared/menu'
    .container.dark-bg-wrapper.no-side-padding{style: 'padding-top: 20px;'}
      - if notice.present?
        %p.alert.alert-success
          = notice
      - if alert.present?
        %p.alert.alert-danger
          = alert

      = yield
