%html
  %head
    / Google Tag Manager
    :javascript
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-KFQ2JPH');
    / End Google Tag Manager

    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

    %title
      Vanya`s app

  %body

    / Google Tag Manager (noscript)
    %noscript
      %iframe{:height => "0", :src => "https://www.googletagmanager.com/ns.html?id=GTM-KFQ2JPH", :style => "display:none;visibility:hidden", :width => "0"}
    / End Google Tag Manager (noscript)

    = render 'shared/menu'
    .container.white-bg-wrapper
      - if notice.present?
        %p.alert.alert-success
          = notice
      - if alert.present?
        %p.alert.alert-danger
          = alert

      = yield
      - if current_page?(root_path)
        = render 'shared/footer_static'
      - else
        = render 'shared/footer'
    = render 'shared/contacts'
    = render 'shared/context'