%html
  %head
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

    %title
      Vanya`s app

  %body
    = render 'shared/menu'
    - additional_style = current_page?(root_path) ? 'padding-left: 0; padding-right: 0; ' : 'min-height: 100%; height: 100px;'
    .container.dark-bg-wrapper{style: '' + additional_style}
      - if notice.present?
        %p.alert.alert-success
          = notice
      - if alert.present?
        %p.alert.alert-danger
          = alert

      = yield
      - if current_page?(root_path)
        = render 'shared/footer_static'
      - else
        = render 'shared/footer'
    = render 'shared/contacts'